				<div class="padded-content">
					<div class="col">
						<div class="row">
							<div class="column small-12 medium-12 large-12">
								<h1 id="h1">Репетитор английского в&#160;Тушино</h1><p class="subhead">&#171;С нуля&#187;, подтянуть, улучшить, подготовка к&#160;ЕГЭ. Школьникам, студентам и&#160;взрослым в&#160;частном порядке в&#160;Тушино.</p><p class="subhead">Напишите мне в&#160;<a href="https://www.instagram.com/shimanskybiz/" target="_blank">Инстаграме</a>, <a href="https://vk.com/sergeydavydow" target="_blank">&#171;ВКонтакте&#187;</a>, <a href="skype:serguei.shimansky?chat">Скайпе</a>, <a href="whatsapp://send?phone=79854416702">Вотсапе</a>, <a href="viber://chat?number=%2B79854416702">Вайбере</a>, <a href="tg://resolve?domain=english_tushino">Телеграме</a>!</p>
							</div>
						</div>
						<div class="row">
							<div class="column small-12 medium-12 large-6">
								<h2>&#171;С нуля&#187;, подтянуть</h2>
								<p>
									<a href="./libs/serguei-eaststreet/img/sprite-serguei/serguei-at-desktop-1440x810.jpg" class="img-lightbox-link" target="_blank" rel="lightbox"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-eaststreet/img/sprite-serguei/serguei-at-desktop-640x360.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a>
									<a href="https://www.instagram.com/shimanskybiz/" class="btn-larger btn-secondary fit-width">Мои фото</a>
								</p>
								<p>Работал переводчиком в&#160;различных некоммерческих организациях (Врачи без границ, United Way, ВКБ ООН и&#160;др.).</p>
								<p>В&#160;настоящий момент преподаю английский школьникам, студентам и&#160;взрослым в&#160;частном порядке в&#160;Тушино. Также увлекаюсь веб-разработкой, принимаю заказы на&#160;сайты-визитки.</p>
								<h2>Приоритеты</h2>
								<p>Основной упор делается на&#160;грамматику и&#160;произношение. Если не&#160;удается безупречное произношение&#160;&#8212; невелика беда, поскольку это удел профи, но&#160;вот безграмотная речь&#160;&#8212; досада.</p>
								<p>Решающим фактором является высокая мотивация и&#160;готовность вновь &#171;влезть в&#160;шкуру ученика&#187;. Т.е. домашнее заданее придется выполнять, а&#160;слова&#160;&#8212; учить.</p>
								<div class="aside">
									<p class="textcenter"><a href="javascript:void(0);" class="data-target-link" data-include="./includes/serguei-eaststreet/why_learn.html" data-target="#why_learn">Мотивация</a></p>
									<div id="why_learn"></div>
								</div>
								<h2>Подготовка к&#160;ЕГЭ</h2>
								<p>Студентам, сдающим государственный экзамен, лучше начать подготовку к&#160;тестам минимум за&#160;год.</p>
								<p>Пройдите тест, чтобы понять, какой&#160;же уровень у&#160;Вас на&#160;текущий момент, и&#160;спланировать сроки обучения. Запишите те вопросы, которые вызвали у&#160;Вас сомнения.</p>
								<p><a href="#/level_test" class="btn-larger btn-primary fit-width">Пройти тест</a></p>
							</div>
							<div class="column small-12 medium-12 large-6">
								<h2>Условия</h2>
								<p>
									<a href="./libs/serguei-eaststreet/img/sprite-serguei/serguei-in-front-of-salyut-1440x810.jpg" class="img-lightbox-link" target="_blank" rel="lightbox"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-eaststreet/img/sprite-serguei/serguei-in-front-of-salyut-640x360.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a>
									<a href="https://yandex.ru/maps/org/repetitor_sergey_shimanskiy/1085972151" class="btn-larger btn-secondary fit-width">Я на&#160;Яндексе</a>
								</p>
								<p>Занятия проводятся на&#160;дому у&#160;преподавателя рядом с &#171;ДК Салют&#187; по&#160;одному часу, минимум два раза в&#160;неделю. Три&#160;раза&#160;&#8212; это максимум.</p>
								<!-- <p>Стоимость обучения при посещении не&#160;менее двух раз в&#160;неделю&#160;&#8212; 800&#160;руб.&#160;/ 60&#160;мин. взрослым, 700&#160;руб.&#160;/ 60&#160;мин. детям.</p> --><!-- <div class="aside"><p class="textcenter"><a href="javascript:void(0);" class="data-target-link" data-include="./includes/serguei-eaststreet/tutoring_fees.html" data-target="#tutoring_fees">Сколько стоит репетитор</a></p><div id="tutoring_fees"></div></div> -->
								<!-- <h2>Расписание</h2>
								<p>Посмотрите для ознакомления, учитывая, что занятые часы могут быть уже свободными, незанятые&#160;&#8212; недоступными.</p><div class="aside"><p class="textcenter"><a href="#/schedule">Текущее расписание</a></p></div> -->
								<h2>Практика</h2>
								<p>Факультативное посещение кино на&#160;английском&#160;&#8212; хороший метод развивать навыки аудирования.</p>
								<div class="aside">
									<p class="textcenter"><a href="javascript:void(0);" class="data-target-link" data-include="./includes/serguei-eaststreet/watch_movies.html" data-target="#watch_movies">Кино на&#160;английском</a></p>
									<div id="watch_movies"></div>
								</div>
								<h2>Адрес</h2>
								<div><a href="javascript:void(0);" class="btn-larger btn-primary fit-width btn-show-ymap" id="btn-show-ymap">Показать на карте</a></div>
								<div class="holder-ymap">
									<div class="ymap" id="ymap" data-center="[55.841608306208684,37.45720129160105]" data-zoom="16" data-btn-show="btn-show-ymap" data-btn-destroy="btn-destroy-ymap"></div>
								</div>
								<div><a href="#/map" class="btn-larger btn-secondary fit-width">Карта покрупнее</a></div>
								<div class="vcard">
									<div>
										<span class="category">Репетиторы</span><span class="fn org">Репетитор английского в Тушино</span>
									</div>
									<div class="adr">
										<span class="locality">г. Москва</span>, <span class="street-address">3 проезд Досфлота</span>
									</div>
									<div>
										Тел: <span class="tel">+7 (926) 067-08-57</span>
									</div>
									<div>
										Открыто <span class="workhours">ежедневно с 10:00 до 19:00</span><span class="url"><span class="value-title" title="https://englishextra.gitlab.io/"></span></span>
									</div>
								</div>
								<!-- <h2>Стоимость</h2>
								<table class="respond fit-width">
									<thead>
										<tr>
											<th>Возраст</th>
											<th>Длительность</th>
											<th>У&#160;преподавателя</th>
											<th>У&#160;ученика</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td data-label="Возраст">Младшеклассники</td>
											<td data-label="Длительность">60 мин.</td>
											<td data-label="У&#160;преподавателя">700 руб.</td>
											<td data-label="У&#160;ученика">900 руб.</td>
										</tr>
										<tr>
											<td data-label="Возраст">Старшеклассники</td>
											<td data-label="Длительность">60 мин.</td>
											<td data-label="У&#160;преподавателя">800 руб.</td>
											<td data-label="У&#160;ученика">1000 руб.</td>
										</tr>
										<tr>
											<td data-label="Возраст">Взрослые</td>
											<td data-label="Длительность">60 мин.</td>
											<td data-label="У&#160;преподавателя">800 руб.</td>
											<td data-label="У&#160;ученика">1000 руб.</td>
										</tr>
									</tbody>
								</table>
								<p class="smaller">Цены действительны на период 2018&#8212;2019&#160;гг. Спросить меня в <a href="https://www.instagram.com/shimanskybiz/" target="_blank">Инстаграме</a>, <a href="https://vk.com/sergeydavydow" target="_blank">&#171;ВКонтакте&#187;</a>, <a href="skype:serguei.shimansky?chat">Скайпе</a>, <a href="whatsapp://send?phone=79854416702">Вотсапе</a>, <a href="viber://chat?number=%2B79854416702">Вайбере</a>, <a href="tg://resolve?domain=english_tushino">Телеграме</a>!</p> -->
		<div class="card-wrap card-wrap--copyright">
			<h3 class="mui--text-subhead">Правовые положения</h3>
			<p class="mui--text-caption">Все рекламные предложения не&#160;являются публичной офертой или приглашением к&#160;вступлению в&#160;правоотношения.</p>
			<h3 class="mui--text-subhead">Принадлежность</h3>
			<p class="mui--text-caption">Автор и&#160;владелец данного интернет-ресурса не&#160;имеет отношения к&#160;представленным товарам или услугам, бизнесам, на ресурсы которых размещены ссылки; не&#160;получает комиссии или гонорары за&#160;рекомендации, никак не&#160;связан с&#160;продавцами упомянутых наименований.</p>
			<h3 class="mui--text-subhead">Иллюстрации</h3>
			<p class="mui--text-caption"><a href="http://ege.edu.ru/ru/main/information_materials/" target="_blank" rel="noopener">&#169;&#160;2018 Федеральная служба по&#160;надзору в&#160;сфере образования и&#160;науки Российской Федерации</a></p>
			<h3 class="mui--text-subhead">Графика</h3>
			<p class="mui--text-caption"><a href="https://docs.microsoft.com/en-us/windows/uwp/design/style/segoe-ui-symbol-font" target="_blank" rel="noopener">&#169;&#160;2018 Segoe UI and MDL2 icons by&#160;Microsoft</a></p>
			<h3 class="mui--text-subhead">Иcходный год</h3>
			<p class="mui--text-caption"><a href="https://github.com/englishextra/englishextra.github.io" target="_blank" rel="noopener">github.com/englishextra/englishextra.github.io</a></p>
			<h3 class="mui--text-subhead">Использование</h3>
								<p class="copyright">
									<a href="javascript:void(0);" onclick="var a='mailto',b=':',c='englishextra2',k='%40',q='yahoo',s='.',v='com';this.href=a+b+c+k+q+s+v;" target="_blank">&#169;&#160;2006&#8212;2018&#160;englishextra</a>
									&#160;&#160; <a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank">Копирование</a>
									&#160;&#160; <a href="/terms.html">Соглашение</a>
									&#160;&#160; <a href="/policy.html">Конфиденциальность</a>
								</p>
			<table style="border:none;">
				<caption></caption>
				<tbody>
					<tr>
						<td class="mui--text-caption" style="border:none;">
							<a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank" aria-label="Лицензия">
								<svg class="site-logo-icon" style="width:5.500rem;height:1.938rem;">
									<use xlink:href="#custom-by-nd-88x31"></use>
								</svg>
							</a>
						</td>
						<td class="mui--text-caption" style="border:none;">&#160;</td>
						<td class="mui--text-caption" style="border:none;">
							Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank">лицензии Creative Commons С&#160;указанием авторства-Без&#160;производных&#160;4.0 Всемирная</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
							</div>
						</div>
						<div class="row">
							<div class="column small-12 medium-12 large-12">
								<h2 class="aligncenter">Контакты</h2>
							</div>
						</div>
						<div class="row">
							<div class="column small-12 medium-6 large-3">
								<a href="javascript:void(0);" onclick="var a='tel',b=':',c='%2B',k='7926',q='0670857';this.href=a+b+c+k+q;" target="_blank">
									<figure>
										<img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20512%20512%27%2F%3E" data-qrcode="%74%65%6c%3a%2b%37%39%32%36%30%36%37%30%38%35%37" class="data-qrcode-img hide-on-mobile" alt="Illustration / Иллюстрация" />
										<img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20512%20512%27%2F%3E" data-src="./libs/serguei-eaststreet/img/sprite-contacts-mobile/tile-tel-512x512.png" class="data-src-img show-block-on-mobile" alt="Illustration / Иллюстрация" />
										<figcaption>
											<p>&#43;&#55; (&#57;&#50;&#54;) &#48;&#54;&#55;&#8208;&#48;&#56;&#8208;&#53;&#55;</p>
										</figcaption>
									</figure>
								</a>
							</div>
							<!-- <div class="column small-12 medium-6 large-3">
								<a href="javascript:void(0);" onclick="var a='mailto',b=':',c='englishextra2',k='%40',q='yahoo',s='.',v='com';this.href=a+b+c+k+q+s+v;" target="_blank">
									<figure>
										<img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20512%20512%27%2F%3E" data-qrcode="%6d%61%69%6c%74%6f%3a%65%6e%67%6c%69%73%68%65%78%74%72%61%40%6d%61%69%6c%2e%72%75" class="data-qrcode-img hide-on-mobile" alt="Illustration / Иллюстрация" />
										<img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20512%20512%27%2F%3E" data-src="./libs/serguei-eaststreet/img/sprite-contacts-mobile/tile-mailto-512x512.png" class="data-src-img show-block-on-mobile" alt="Illustration / Иллюстрация" />
										<figcaption>
											<p>&#101;&#110;&#103;&#108;&#105;&#115;&#104;&#101;&#120;&#116;&#114;&#97;2&#64;&#121;&#97;&#104;&#111;&#111;.&#99;&#111;&#109;</p>
										</figcaption>
									</figure>
								</a>
							</div> -->
							<div class="column small-12 medium-6 large-3">
								<a href="whatsapp://send?phone=79854416702">
									<figure>
										<img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20512%20512%27%2F%3E" data-src="./libs/serguei-eaststreet/img/sprite-contacts-desktop/tile-whatsapp-512x512.png" class="data-src-img" alt="Illustration / Иллюстрация" />
										<figcaption>
											<p>WhatsApp</p>
										</figcaption>
									</figure>
								</a>
							</div>
							<div class="column small-12 medium-6 large-3">
								<a href="tg://resolve?domain=english_tushino">
									<figure>
										<img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20512%20512%27%2F%3E" data-src="./libs/serguei-eaststreet/img/sprite-contacts-desktop/tile-telegram-512x512.png" class="data-src-img" alt="Illustration / Иллюстрация" />
										<figcaption>
											<p>Telegram</p>
										</figcaption>
									</figure>
								</a>
							</div>
							<div class="column small-12 medium-6 large-3">
								<a href="https://vk.com/sergeydavydow" target="_blank">
									<figure>
										<img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20512%20512%27%2F%3E" data-src="./libs/serguei-eaststreet/img/sprite-contacts-desktop/tile-vkontakte-512x512.png" class="data-src-img" alt="Illustration / Иллюстрация" />
										<figcaption>
											<p>ВКонтакте</p>
										</figcaption>
									</figure>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="column small-12 medium-12 large-12">
								<h2>Пособия</h2>
							</div>
						</div>
						<div class="row">
							<div class="column small-12 medium-6 large-3">
								<p><a href="https://www.ozon.ru/context/detail/id/33773141/"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20512%20680%27%2F%3E" data-src="./libs/serguei-eaststreet/img/sprite-books/books-essential-grammar-in-use-512x680.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a></p>
								<div class="aside">
									<p class="textcenter"><a href="javascript:void(0);" class="data-target-link" data-include="./includes/serguei-eaststreet/books-essential-grammar-in-use.html" data-target="#books-essential-grammar-in-use">Подробное описание пособия</a></p>
									<div id="books-essential-grammar-in-use"></div>
								</div>
							</div>
							<div class="column small-12 medium-6 large-3">
								<p><a href="https://www.ozon.ru/context/detail/id/138022245/"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20512%20680%27%2F%3E" data-src="./libs/serguei-eaststreet/img/sprite-books/books-golitsynsky-exercises-512x680.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a></p>
								<div class="aside">
									<p class="textcenter"><a href="javascript:void(0);" class="data-target-link" data-include="./includes/serguei-eaststreet/books-golitsynsky-exercises.html" data-target="#books-golitsynsky-exercises">Подробное описание пособия</a></p>
									<div id="books-golitsynsky-exercises"></div>
								</div>
							</div>
							<div class="column small-12 medium-6 large-3">
								<p><a href="https://www.ozon.ru/context/detail/id/24447047/"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20512%20680%27%2F%3E" data-src="./libs/serguei-eaststreet/img/sprite-books/books-macmillan-exam-skills-for-russia-grammar-and-vocabulary-512x680.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a></p>
								<div class="aside">
									<p class="textcenter"><a href="javascript:void(0);" class="data-target-link" data-include="./includes/serguei-eaststreet/books-macmillan-exam-skills-for-russia-grammar-and-vocabulary.html" data-target="#books-macmillan-exam-skills-for-russia-grammar-and-vocabulary">Подробное описание пособия</a></p>
									<div id="books-macmillan-exam-skills-for-russia-grammar-and-vocabulary"></div>
								</div>
							</div>
							<div class="column small-12 medium-6 large-3">
								<p><a href="https://www.ozon.ru/context/detail/id/7009071/"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20512%20680%27%2F%3E" data-src="./libs/serguei-eaststreet/img/sprite-books/books-collins-cobuild-english-grammar-512x680.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a></p>
								<div class="aside">
									<p class="textcenter"><a href="javascript:void(0);" class="data-target-link" data-include="./includes/serguei-eaststreet/books-collins-cobuild-english-grammar.html" data-target="#books-collins-cobuild-english-grammar">Подробное описание пособия</a></p>
									<div id="books-collins-cobuild-english-grammar"></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="column small-12 medium-12 large-12">
								<h2>Комментарии</h2>
								<p><span class="bolder">Регистрироваться необязательно.</span> Поставьте курсор в&#160;текстовую область, щелкните по&#160;появившемуся полю &#171;Имя&#187;, отметьте опцию &#171;Хотел&#160;бы написать как&#160;гость&#187;.</p>
								<div><a href="javascript:void(0);" class="btn-larger btn-primary fit-width btn-show-disqus">Показать все сообщения</a></div>
								<div id="disqus_thread" data-shortname="englishextragithubio"></div>
								<h2>Далее</h2>
								<div class="holder-bottom-navigation">
									<a href="#/level_test" class="btn-larger btn-primary fit-half-width">Следующая</a><!--
									 --><a href="#/home" class="btn-larger btn-secondary fit-half-width">Начало</a><!--
									 --><a href="https://vk.com/sergeydavydow" class="btn-larger btn-link fit-half-width">&#171;ВКонтакте&#187;</a><!--
									 --><a href="tg://resolve?domain=english_tushino" target="_blank" class="btn-larger btn-link fit-half-width">Телеграм</a>
								</div>
							</div>
						</div>
					</div>
				</div>
