<div id="content-wrapper">
	<div id="appbar-placeholder" class="mui--appbar-height"></div>
	<div class="card-grid">
		<div class="card-wrap card-wrap--heading">
			<h1 class="mui--text-display1">Пособия</h1>
			<p class="mui--text-subhead">Не стоит спешить приобретать неоправданно дорогущие пособия в&#160;книжных. Все&#160;уже давно доступно в&#160;электронном виде.</p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Raymond Murphy</h2>
			<template>
				<br /><span class="mui--text-caption">Essential Grammar in Use</span><br /><span class="mui--text-caption">Cambridge University Press</span>
			</template>
			<figure class="data-src-img-figure"><a href="./libs/serguei-muicss/img/sprite-books/books-essential-grammar-in-use-1440x810.jpg" class="img-lightbox-link" target="_blank" rel="lightbox"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%201440%20810%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-books/books-essential-grammar-in-use-1440x810.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"><!-- <a href="https://www.flickr.com/photos/englishextra/">By englishextra</a>&#160;&#160;&#8226;&#160; <a href="https://www.flickr.com/photos/englishextra/albums/72157649716964239">Все иллюстрации</a> --></figcaption></figure>
			<p><a href="https://www.ozon.ru/context/detail/id/33773141/" class="mui-btn mui-btn--small mui-btn--raised ripple" target="_blank" rel="noopener">Купить</a></p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Ю.&#160;Голицынский</h2>
			<template>
				<br /><span class="mui--text-caption">Грамматика</span><br /><span class="mui--text-caption">Каро</span>
			</template>
			<figure class="data-src-img-figure"><a href="./libs/serguei-muicss/img/sprite-books/books-golitsynsky-exercises-1440x810.jpg" class="img-lightbox-link" target="_blank" rel="lightbox"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%201440%20810%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-books/books-golitsynsky-exercises-1440x810.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"><!-- <a href="https://www.flickr.com/photos/englishextra/">By englishextra</a>&#160;&#160;&#8226;&#160; <a href="https://www.flickr.com/photos/englishextra/albums/72157649716964239">Все иллюстрации</a> --></figcaption></figure>
			<p><a href="https://www.ozon.ru/context/detail/id/138022245/" class="mui-btn mui-btn--small mui-btn--raised ripple" target="_blank" rel="noopener">Купить</a></p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Macmillan</h2>
			<template>
				<br /><span class="mui--text-caption">Grammar &amp; Vocabulary</span><br /><span class="mui--text-caption">Macmillam</span>
			</template>
			<figure class="data-src-img-figure"><a href="./libs/serguei-muicss/img/sprite-books/books-macmillan-exam-skills-for-russia-grammar-and-vocabulary-1440x810.jpg" class="img-lightbox-link" target="_blank" rel="lightbox"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%201440%20810%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-books/books-macmillan-exam-skills-for-russia-grammar-and-vocabulary-1440x810.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"><!-- <a href="https://www.flickr.com/photos/englishextra/">By englishextra</a>&#160;&#160;&#8226;&#160; <a href="https://www.flickr.com/photos/englishextra/albums/72157649716964239">Все иллюстрации</a> --></figcaption></figure>
			<p><a href="https://www.ozon.ru/context/detail/id/24447047/" class="mui-btn mui-btn--small mui-btn--raised ripple" target="_blank" rel="noopener">Купить</a></p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Collins Cobuild</h2>
			<template>
				<br /><span class="mui--text-caption">English Grammar</span><br /><span class="mui--text-caption">Collins</span>
			</template>
			<figure class="data-src-img-figure"><a href="./libs/serguei-muicss/img/sprite-books/books-collins-cobuild-english-grammar-1440x810.jpg" class="img-lightbox-link" target="_blank" rel="lightbox"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%201440%20810%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-books/books-collins-cobuild-english-grammar-1440x810.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"><!-- <a href="https://www.flickr.com/photos/englishextra/">By englishextra</a>&#160;&#160;&#8226;&#160; <a href="https://www.flickr.com/photos/englishextra/albums/72157649716964239">Все иллюстрации</a> --></figcaption></figure>
			<p><a href="https://www.ozon.ru/context/detail/id/7009071/" class="mui-btn mui-btn--small mui-btn--raised ripple" target="_blank" rel="noopener">Купить</a></p>
		</div>
		<div class="card-wrap card-wrap--skeleton">
			<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/BhodftsFZei/" data-instgrm-version="8" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:100%;"></blockquote>
		</div>
		<div class="card-wrap card-wrap--skeleton">
			<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/BjytBkEgVsC/" data-instgrm-version="8" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:100%;"></blockquote>
		</div>
		<div class="card-wrap card-wrap--skeleton">
			<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/BiWUwi-gShj/" data-instgrm-version="8" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:100%;"></blockquote>
		</div>
		<div class="card-wrap card-wrap--copyright">
			<h3 class="mui--text-subhead">Правовые положения</h3>
			<p class="mui--text-caption">Все рекламные предложения не&#160;являются публичной офертой или приглашением к&#160;вступлению в&#160;правоотношения.</p>
			<h3 class="mui--text-subhead">Принадлежность</h3>
			<p class="mui--text-caption">Автор и&#160;владелец данного интернет-ресурса не&#160;имеет отношения к&#160;представленным товарам или услугам, бизнесам, на ресурсы которых размещены ссылки; не&#160;получает комиссии или гонорары за&#160;рекомендации, никак не&#160;связан с&#160;продавцами упомянутых наименований.</p>
			<h3 class="mui--text-subhead">Иллюстрации</h3>
			<p class="mui--text-caption"><a href="http://ege.edu.ru/ru/main/information_materials/" target="_blank" rel="noopener">&#169;&#160;2018 Федеральная служба по&#160;надзору в&#160;сфере образования и&#160;науки Российской Федерации</a></p>
			<h3 class="mui--text-subhead">Графика</h3>
			<p class="mui--text-caption"><a href="https://material.io/tools/icons/" target="_blank" rel="noopener">&#169;&#160;2018 Material icons by&#160;Google</a></p>
			<h3 class="mui--text-subhead">Иcходный год</h3>
			<p class="mui--text-caption"><a href="https://gitlab.com/englishextra/englishextra.gitlab.io" target="_blank" rel="noopener">gitlab.com/englishextra/englishextra.gitlab.io</a></p>
			<h3 class="mui--text-subhead">Использование</h3>
								<p class="copyright">
									<a href="javascript:void(0);" onclick="var a='mailto',b=':',c='englishextra2',k='%40',q='yahoo',s='.',v='com';this.href=a+b+c+k+q+s+v;" target="_blank">&#169;&#160;2006&#8212;2018&#160;englishextra</a>
									&#160;&#160; <a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank">Копирование</a>
									&#160;&#160; <a href="/terms.html">Соглашение</a>
									&#160;&#160; <a href="/policy.html">Конфиденциальность</a>
								</p>
			<table style="border:none;">
				<caption></caption>
				<tbody>
					<tr>
						<td class="mui--text-caption" style="border:none;">
							<a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank" aria-label="Лицензия">
								<svg class="site-logo-icon" style="width:5.500rem;height:1.938rem;">
									<use xlink:href="#custom-by-nd-88x31"></use>
								</svg>
							</a>
						</td>
						<td class="mui--text-caption" style="border:none;">&#160;</td>
						<td class="mui--text-caption" style="border:none;">
							Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank">лицензии Creative Commons С&#160;указанием авторства-Без&#160;производных&#160;4.0 Всемирная</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<template><footer id="footer">
	<div class="mui-container-fluid">
		<div class="mui-row">
			<div class="mui-col-md-10 mui-col-md-offset-1 mui-col-sm-12 mui-col-sm-offset-0">
				<div class="mui-col-xs-12 mui-col-md-12 mui-col-lg-12 mui-col-xl-12">
								<p class="copyright">
									<a href="javascript:void(0);" onclick="var a='mailto',b=':',c='englishextra2',k='%40',q='yahoo',s='.',v='com';this.href=a+b+c+k+q+s+v;" target="_blank">&#169;&#160;2006&#8212;2018&#160;englishextra</a>
									&#160;&#160; <a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank">Копирование</a>
									&#160;&#160; <a href="/terms.html">Соглашение</a>
									&#160;&#160; <a href="/policy.html">Конфиденциальность</a>
								</p>
				</div>
			</div>
		</div>
	</div>
</footer></template>
