<div id="content-wrapper">
	<div id="appbar-placeholder" class="mui--appbar-height"></div>
	<div class="card-grid">
		<div class="card-wrap card-wrap--heading">
			<h1 class="mui--text-display1">Фильмы без&#160;перевода</h1>
			<p class="mui--text-subhead">Факультативное посещение кино на&#160;английском&#160;&#8212; хороший метод развивать навыки аудирования</p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Кинотеатр &#171;Звезда&#187;</h2>
			<figure class="data-src-img-figure"><a href="https://farm2.staticflickr.com/1826/43424999612_07ca1e1cc8_o.jpg" class="img-lightbox-link" target="_blank" rel="lightbox"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%201440%20810%27%2F%3E" data-src="https://farm2.staticflickr.com/1826/43424999612_07ca1e1cc8_o.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"><!-- <a href="http://mos-kino.ru/">By mos-kino.ru</a>&#160;&#160;&#8226;&#160; <a href="http://mos-kino.ru/">Все иллюстрации</a> --></figcaption></figure>
			<p>В репертуаре новинки зарубежного и&#160;российского кинопроката, артхаус, анимационные фильмы, короткометражное кино. Проходят показы на&#160;языке оригинала с&#160;субтитрами, работают киноклубы. Стоимость билетов: 100&#8212;300&#160;рублей. Ул.&#160;Земляной вал, 18&#8212;22, стр.&#160;2, м. Курская. Телефон: 8&#160;(495)&#160;916-28-05. Часы&#160;работы: 9:00&#8212;21:30.</p>
			<p><a href="http://mos-kino.ru/cinema_1.html" class="mui-btn mui-btn--small mui-btn--raised ripple" target="_blank" rel="noopener">Сайт кинотеатра</a></p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Кинотеатр &#171;Факел&#187;</h2>
			<figure class="data-src-img-figure"><a href="https://farm2.staticflickr.com/1807/43425000082_146ffa663f_o.jpg" class="img-lightbox-link" target="_blank" rel="lightbox"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%201440%20810%27%2F%3E" data-src="https://farm2.staticflickr.com/1807/43425000082_146ffa663f_o.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"><!-- <a href="http://mos-kino.ru/">By mos-kino.ru</a>&#160;&#160;&#8226;&#160; <a href="http://mos-kino.ru/">Все иллюстрации</a> --></figcaption></figure>
			<p>В репертуаре новинки зарубежного и&#160;российского кинопроката, артхаус, анимационные фильмы и&#160;авторская анимация, короткометражное кино. Проходят показы на&#160;языке оригинала с&#160;субтитрами. Стоимость билетов: 100&#8212;250&#160;рублей. Шоссе Энтузиастов, 15/16, м. Авиамоторная. Телефон: 8&#160;(495)&#160;362-12-19. Часы&#160;работы: 10:00&#8212;22:00.</p>
			<p><a href="http://mos-kino.ru/cinema_7.html" class="mui-btn mui-btn--small mui-btn--raised ripple" target="_blank" rel="noopener">Сайт кинотеатра</a></p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Кинотеатр &#171;Юность&#187;</h2>
			<figure class="data-src-img-figure"><a href="https://farm2.staticflickr.com/1787/43473099301_eb8cf44459_o.jpg" class="img-lightbox-link" target="_blank" rel="lightbox"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%201440%20810%27%2F%3E" data-src="https://farm2.staticflickr.com/1787/43473099301_eb8cf44459_o.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"><!-- <a href="http://mos-kino.ru/">By mos-kino.ru</a>&#160;&#160;&#8226;&#160; <a href="http://mos-kino.ru/">Все иллюстрации</a> --></figcaption></figure>
			<p>В репертуаре&#160;&#8212; новинки кинопроката, зарубежные фестивальные картины на&#160;языке оригинала с&#160;субтитрами, российское авторское кино, анимационные фильмы и&#160;ретроспективы. Стоимость билета: 90&#160;&#8212; 300&#160;рублей. Ул.&#160;Маршала Рыбалко, &#188;, м. Октябрьское поле. Телефон: 8&#160;(499)&#160;194-24-30. Часы работы: 09:00&#8212;22:00.</p>
			<p><a href="http://mos-kino.ru/cinema_24.html" class="mui-btn mui-btn--small mui-btn--raised ripple" target="_blank" rel="noopener">Сайт кинотеатра</a></p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Киноэпизоды на&#160;Vimeo</h2>
			<figure class="data-src-img-figure"><a href="https://vimeo.com/album/3325167" target="_blank" rel="noopener"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-english4free-banner/english4free-banner-vimeo-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p>Киноэпизоды художественных фильмов, специально подобранных для тренировки по&#160;аудированию. Имейте в&#160;виду, что реальная речь необязательно исключительно правильная и&#160;грамотная.</p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Киноэпизоды на&#160;Youtube</h2>
			<figure class="data-src-img-figure"><a href="https://www.youtube.com/playlist?list=PLAI3yGNF4j7cAodGWAb5BtHUtEM1l5nA-" target="_blank" rel="noopener"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-english4free-banner/english4free-banner-youtube-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p>Киноэпизоды художественных фильмов, специально подобранных для тренировки по&#160;аудированию. Имейте в&#160;виду, что реальная речь необязательно исключительно правильная и&#160;грамотная.</p>
		</div>
		<div class="card-wrap card-wrap--skeleton">
			<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/BhQyogYHvRS/" data-instgrm-version="8" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:100%;"></blockquote>
		</div>
		<div class="card-wrap card-wrap--skeleton">
			<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/BiRxY7Un1DE/" data-instgrm-version="8" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:100%;"></blockquote>
		</div>
		<div class="card-wrap card-wrap--copyright">
			<h3 class="mui--text-subhead">Правовые положения</h3>
			<p class="mui--text-caption">Все рекламные предложения не&#160;являются публичной офертой или приглашением к&#160;вступлению в&#160;правоотношения.</p>
			<h3 class="mui--text-subhead">Принадлежность</h3>
			<p class="mui--text-caption">Автор и&#160;владелец данного интернет-ресурса не&#160;имеет отношения к&#160;представленным товарам или услугам, бизнесам, на ресурсы которых размещены ссылки; не&#160;получает комиссии или гонорары за&#160;рекомендации, никак не&#160;связан с&#160;продавцами упомянутых наименований.</p>
			<h3 class="mui--text-subhead">Иллюстрации</h3>
			<p class="mui--text-caption"><a href="http://ege.edu.ru/" target="_blank" rel="noopener">&#169;&#160;2018 Федеральная служба по&#160;надзору в&#160;сфере образования и&#160;науки Российской Федерации</a></p>
			<h3 class="mui--text-subhead">Графика</h3>
			<p class="mui--text-caption"><a href="https://material.io/tools/icons/" target="_blank" rel="noopener">&#169;&#160;2018 Material icons by&#160;Google</a></p>
			<h3 class="mui--text-subhead">Иcходный год</h3>
			<p class="mui--text-caption"><a href="https://gitlab.com/englishextra/englishextra.gitlab.io" target="_blank" rel="noopener">gitlab.com/englishextra/englishextra.gitlab.io</a></p>
			<h3 class="mui--text-subhead">Использование</h3>
								<p class="copyright">
									<a href="javascript:void(0);" onclick="var a='mailto',b=':',c='englishextra2',k='%40',q='yahoo',s='.',v='com';this.href=a+b+c+k+q+s+v;" target="_blank">&#169;&#160;2006&#8212;2018&#160;englishextra</a>
									&#160;&#160; <a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank">Копирование</a>
									&#160;&#160; <a href="/terms.html">Соглашение</a>
									&#160;&#160; <a href="/policy.html">Конфиденциальность</a>
								</p>
			<table style="border:none;">
				<caption></caption>
				<tbody>
					<tr>
						<td class="mui--text-caption" style="border:none;">
							<a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank" aria-label="Лицензия">
								<svg class="site-logo-icon" style="width:5.500rem;height:1.938rem;">
									<use xlink:href="#custom-by-nd-88x31"></use>
								</svg>
							</a>
						</td>
						<td class="mui--text-caption" style="border:none;">&#160;</td>
						<td class="mui--text-caption" style="border:none;">
							Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank">лицензии Creative Commons С&#160;указанием авторства-Без&#160;производных&#160;4.0 Всемирная</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<template><footer id="footer">
	<div class="mui-container-fluid">
		<div class="mui-row">
			<div class="mui-col-md-10 mui-col-md-offset-1 mui-col-sm-12 mui-col-sm-offset-0">
				<div class="mui-col-xs-12 mui-col-md-12 mui-col-lg-12 mui-col-xl-12">
								<p class="copyright">
									<a href="javascript:void(0);" onclick="var a='mailto',b=':',c='englishextra2',k='%40',q='yahoo',s='.',v='com';this.href=a+b+c+k+q+s+v;" target="_blank">&#169;&#160;2006&#8212;2018&#160;englishextra</a>
									&#160;&#160; <a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank">Копирование</a>
									&#160;&#160; <a href="/terms.html">Соглашение</a>
									&#160;&#160; <a href="/policy.html">Конфиденциальность</a>
								</p>
				</div>
			</div>
		</div>
	</div>
</footer></template>
