<template><div id="content-wrapper">
	<div id="appbar-placeholder" class="mui--appbar-height"></div>
	<div class="mui-container-fluid">
		<div class="mui-row">
			<div class="mui-col-md-10 mui-col-md-offset-1 mui-col-sm-12 mui-col-sm-offset-0">
				<div class="mui-panel">
					<div class="mui-col-xs-12 mui-col-md-12 mui-col-lg-12 mui-col-xl-12">
						<h1 class="mui--text-display1">Репетитор английского в&#160;Тушино</h1>
						<p class="mui--text-subhead">&#171;С нуля&#187;, подтянуть, улучшить, подготовка к&#160;ЕГЭ. Школьникам, студентам и&#160;взрослым в&#160;частном порядке в&#160;Тушино.</p>
					</div>
				</div>
				<div class="mui-panel">
					<div class="mui-col-xs-12 mui-col-md-12 mui-col-lg-6 mui-col-xl-6">
						<h2 class="mui--text-title">Специализация</h2>
						<figure class="data-src-img-figure"><a href="./libs/serguei-muicss/img/serguei-pictures/serguei-speciality-1440x810.jpg" class="img-lightbox-link" target="_blank" rel="lightbox"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%201440%20810%27%2F%3E" data-src="./libs/serguei-muicss/img/serguei-pictures/serguei-speciality-1440x810.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"><!-- <a href="https://www.flickr.com/photos/englishextra/">By englishextra</a>&#160;&#160;&#8226;&#160; <a href="https://www.flickr.com/photos/englishextra/albums/72157649716964239">Все иллюстрации</a> --></figcaption></figure>
						<p>Работал переводчиком в&#160;различных некоммерческих организациях (Врачи без границ, United Way, ВКБ ООН и&#160;др.).</p>
						<p>В&#160;настоящий момент преподаю английский школьникам, студентам и&#160;взрослым в&#160;частном порядке в&#160;Тушино.</p>
						<p>Также, как вы, наверное, догадались, увлекаюсь веб-разработкой, <a href="#/contacts">принимаю заказы</a> на&#160;сайты-визитки.</p>
					</div>
					<div class="mui-col-xs-12 mui-col-md-12 mui-col-lg-6 mui-col-xl-6">
						<h2 class="mui--text-title">Приоритеты</h2>
						<figure class="data-src-img-figure"><a href="./libs/serguei-muicss/img/serguei-pictures/serguei-ege-listening-1440x810.jpg" class="img-lightbox-link" target="_blank" rel="lightbox"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%201440%20810%27%2F%3E" data-src="./libs/serguei-muicss/img/serguei-pictures/serguei-ege-listening-1440x810.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"><!-- <a href="https://www.flickr.com/photos/englishextra/">By englishextra</a>&#160;&#160;&#8226;&#160; <a href="https://www.flickr.com/photos/englishextra/albums/72157649716964239">Все иллюстрации</a> --></figcaption></figure>
						<p>Основной упор делается на&#160;грамматику и&#160;произношение. Если&#160;не&#160;удается безупречное произношение&#160;&#8212; невелика беда, поскольку это удел профи, но&#160;вот безграмотная речь&#160;&#8212; досада.</p>
						<p>Решающим фактором является высокая мотивация и&#160;готовность вновь &#171;влезть в&#160;шкуру ученика&#187;. Т.е. домашнее заданее придется выполнять, а&#160;слова&#160;&#8212; учить.</p>
					</div>
				</div>
				<div class="mui-panel">
					<div class="mui-col-xs-12 mui-col-md-12 mui-col-lg-6 mui-col-xl-6">
						<h2 class="mui--text-title">Подготовка к&#160;ЕГЭ</h2>
						<figure class="data-src-img-figure"><a href="./libs/serguei-muicss/img/serguei-pictures/serguei-ege-in-the-classroom-1440x810.jpg" class="img-lightbox-link" target="_blank" rel="lightbox"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%201440%20810%27%2F%3E" data-src="./libs/serguei-muicss/img/serguei-pictures/serguei-ege-in-the-classroom-1440x810.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"><!-- <a href="https://www.flickr.com/photos/englishextra/">By englishextra</a>&#160;&#160;&#8226;&#160; <a href="https://www.flickr.com/photos/englishextra/albums/72157649716964239">Все иллюстрации</a> --></figcaption></figure>
						<p>Студентам, сдающим государственный экзамен, лучше начать подготовку к&#160;<a href="#/tests_gia_ege_get_ready_for_a_run">тестам</a> минимум за&#160;год.</p>
					</div>
					<div class="mui-col-xs-12 mui-col-md-12 mui-col-lg-6 mui-col-xl-6">
						<h2 class="mui--text-title">Практика</h2>
						<figure class="data-src-img-figure"><a href="https://farm2.staticflickr.com/1826/43424999612_07ca1e1cc8_o.jpg" class="img-lightbox-link" target="_blank" rel="lightbox"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%201440%20810%27%2F%3E" data-src="https://farm2.staticflickr.com/1826/43424999612_07ca1e1cc8_o.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"><!-- <a href="https://www.flickr.com/photos/englishextra/">By englishextra</a>&#160;&#160;&#8226;&#160; <a href="https://www.flickr.com/photos/englishextra/albums/72157649716964239">Все иллюстрации</a> --></figcaption></figure>
						<p>Факультативное посещение <a href="#/english_through_movies">кино на&#160;английском</a>&#160;&#8212; хороший метод развивать навыки аудирования.</p>
					</div>
				</div>
				<div class="mui-panel">
					<div class="mui-col-xs-12 mui-col-md-12 mui-col-lg-6 mui-col-xl-6">
						<h2 class="mui--text-title">Условия</h2>
						<p>Занятия проводятся на&#160;дому <a href="#/contacts">у&#160;преподавателя</a> рядом с &#171;ДК Салют&#187; по&#160;одному часу, минимум два раза в&#160;неделю. Три&#160;раза&#160;&#8212; это максимум.</p>
						<p>Стоимость обучения при посещении не&#160;менее <a href="#/schedule">двух раз в&#160;неделю</a>&#160;&#8212; 800&#160;руб.&#160;/ 60&#160;мин. взрослым, 700&#160;руб.&#160;/ 60&#160;мин.&#160;детям.</p>
						<p><a href="#/tests_languagelink_online_test">Пройдите тест</a>, чтобы понять, какой&#160;же уровень у&#160;Вас на&#160;текущий момент, и&#160;спланировать сроки обучения. Запишите те вопросы, которые вызвали у&#160;Вас сомнения.</p>
						<p>Ввиду дороговизны <a href="#/books">бумажных пособий</a> не&#160;торопитесь тратиться и&#160;справьтесь у&#160;преподавателя о&#160;наличии подходящих материалов в&#160;электронном&#160;виде.</p>
					</div>
					<div class="mui-col-xs-12 mui-col-md-12 mui-col-lg-6 mui-col-xl-6">
						<h2 class="mui--text-title">Стоимость</h2>
						<div class="mui-table-wrapper">
							<table class="mui-table mui-table--bordered">
								<caption></caption>
								<thead>
									<tr>
										<th data-label="">Возраст</th>
										<th data-label="">Длительность</th>
										<th data-label="">У&#160;преподавателя</th>
										<th data-label="">У&#160;ученика</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td data-label="Возраст">1&#8212;8 кл.</td>
										<td data-label="Длительность">60 мин.</td>
										<td data-label="У преподавателя">700&#160;руб.</td>
										<td data-label="У ученика">900&#160;руб.</td>
									</tr>
									<tr>
										<td data-label="Возраст">9&#8212;11 кл.</td>
										<td data-label="Длительность">60 мин.</td>
										<td data-label="У преподавателя">800&#160;руб.</td>
										<td data-label="У ученика">1000&#160;руб.</td>
									</tr>
									<tr>
										<td data-label="Возраст">Взрослые</td>
										<td data-label="Длительность">60 мин.</td>
										<td data-label="У преподавателя">800&#160;руб.</td>
										<td data-label="У ученика">1000&#160;руб.</td>
									</tr>
								</tbody>
							</table>
						</div>
						<p class="mui--text-caption">Цены действительны на&#160;период 2018&#8212;2019&#160;гг.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div></template>
