<div id="content-wrapper">
	<div id="appbar-placeholder" class="mui--appbar-height"></div>
	<div class="card-grid">
		<div class="card-wrap card-wrap--heading">
			<h1 class="mui--text-display1">Демо ОГЭ&#160;/ ЕГЭ</h1>
			<p class="mui--text-subhead">Материалы, новости, рекомендации только из&#160;первых рук, только из&#160;официальных источников</p>
		</div>
		<div class="card-wrap card-wrap--banner-dark">
			<h2 class="mui--text-title">ГИА, ЕГЭ, ОГЭ: в&#160;чем разница?</h2>
			<figure class="data-src-img-figure"><a href="./libs/serguei-muicss/img/serguei-pictures/serguei-ege-in-figures-1440x810.jpg" class="img-lightbox-link" target="_blank" rel="lightbox"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%201440%20810%27%2F%3E" data-src="./libs/serguei-muicss/img/serguei-pictures/serguei-ege-in-figures-1440x810.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"><!-- <a href="https://www.flickr.com/photos/englishextra/">By englishextra</a>&#160;&#160;&#8226;&#160; <a href="https://www.flickr.com/photos/englishextra/albums/72157649716964239">Все иллюстрации</a> --></figcaption></figure>
			<h3 class="mui--text-subhead">Что такое ГИА?</h3>
			<p>Государственная итоговая аттестация&#160;&#8212; это общее название для ОГЭ и&#160;ЕГЭ. Иногда можно встретить такие надписи, как ГИА-9 (по&#160;факту это наш родной ОГЭ) или ГИА-11 (ЕГЭ).</p>
			<h3 class="mui--text-subhead">Что такое ОГЭ?</h3>
			<p>Основной государственный экзамен. Этот&#160;экзамен сдают абсолютно все школьники страны без исключения (в&#160;отличие от&#160;ЕГЭ). В&#160;девятом классе каждый россиянин должен сдать четыре предмета в&#160;формате ОГЭ: русский, математику и&#160;два на&#160;выбор.</p>
			<h3 class="mui--text-subhead">Что такое ЕГЭ?</h3>
			<p>Единый государственный экзамен, который сдают в 11&#160;классе для поступления в&#160;высшие учебные заведения страны. Этот&#160;экзамен охватывает 5&#8212;11&#160;классы школьной программы, поэтому многие темы в&#160;ОГЭ и&#160;ЕГЭ совпадают. Все&#160;одиннадцатиклассники в&#160;обязательном порядке сдают русский язык в&#160;формате ЕГЭ и&#160;математику (но те, кто не&#160;поступает с&#160;математикой в&#160;вуз, могут выбрать базовый уровень сложности). Сдать эти два предмета нужно хотя&#160;бы на&#160;минимальные баллы, если хочешь получить аттестат. Остальные предметы выбирает сам ученик.</p>
			<p>Для допуска к&#160;ЕГЭ необходимо написать Итоговое сочинение по&#160;литературе и&#160;получить &#171;зачёт&#187;.</p>
			<p class="mui--text-caption"><a href="http://maximumtest.ru/post/gia-ege-oge-v-chem-raznica.html">&#169;&#160;2018 ООО&#160;&#171;Юмакс&#187;</a></p>
		</div>
		<div class="card-wrap card-wrap--aside">
			<h2 class="mui--text-title">Сроки ГИА 2018</h2>
			<p>Минобрнауки сообщило, что досрочный этап ЕГЭ в 2018&#160;году пройдет с 21&#160;марта по 11&#160;апреля, основной&#160;&#8212; с 28&#160;мая по 2&#160;июля и&#160;дополнительный (сентябрьский)&#160;&#8212; с 4&#160;по 15&#160;сентября. Досрочный и&#160;основной этапы ЕГЭ в 2018&#160;году начнутся с&#160;экзаменов по&#160;географии и&#160;информатике и&#160;ИКТ.</p>
			<p>ОГЭ для выпускников 9-х классов в 2018&#160;году также пройдет в&#160;три этапа: досрочный&#160;&#8212; с 20&#160;апреля по 8&#160;мая, основной&#160;&#8212; с 25&#160;мая по 29&#160;июня и&#160;дополнительный (сентябрьский)&#160;&#8212; с 4&#160;по 22&#160;сентября.</p>
			<h3 class="mui--text-subhead">Основной этап</h3>
			<div class="mui-table-wrapper">
				<table class="mui-table mui-table--bordered">
					<caption></caption>
					<thead>
						<tr>
							<th>Дата</th>
							<th>ЕГЭ</th>
							<th>ГВЭ-11</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-label="Дата">9&#160;июня&#160; (сб)</td>
							<td data-label="ЕГЭ">иностранные языки (устно)</td>
							<td data-label="ГВЭ-11">&#160;</td>
						</tr>
						<tr>
							<td data-label="Дата">13&#160;июня&#160; (ср)</td>
							<td data-label="ЕГЭ">иностранные языки (устно)</td>
							<td data-label="ГВЭ-11">&#160;</td>
						</tr>
						<tr>
							<td data-label="Дата">18&#160;июня&#160; (пн)</td>
							<td data-label="ЕГЭ">биология, иностранные языки (письменно)</td>
							<td data-label="ГВЭ-11">биология, иностранные языки</td>
						</tr>
						<tr>
							<td data-label="Дата">27&#160;июня&#160; (ср)</td>
							<td data-label="ЕГЭ">резерв: химия, история, биология, иностранные языки (письменно)</td>
							<td data-label="ГВЭ-11">резерв: химия, история, биология, иностранные языки</td>
						</tr>
						<tr>
							<td data-label="Дата">29&#160;июня&#160; (пт)</td>
							<td data-label="ЕГЭ">резерв: иностранные языки (устно)</td>
							<td data-label="ГВЭ-11">&#160;</td>
						</tr>
						<tr>
							<td data-label="Дата">2&#160;июля&#160; (пн)</td>
							<td data-label="ЕГЭ">резерв: по&#160;всем учебным предметам</td>
							<td data-label="ГВЭ-11">резерв: по&#160;всем учебным предметам</td>
						</tr>
					</tbody>
				</table>
			</div>
			<p class="mui--text-caption"><a href="https://pedsovet.org/beta/article/opredeleny-sroki-gia-2018">&#169;&#160;2017&#160;ObrazCenter</a></p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Видеоконсультации</h2>
			<figure class="data-src-img-figure"><a href="./libs/serguei-muicss/img/serguei-pictures/serguei-counselling-1440x810.jpg" class="img-lightbox-link" target="_blank" rel="lightbox"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%201440%20810%27%2F%3E" data-src="./libs/serguei-muicss/img/serguei-pictures/serguei-counselling-1440x810.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"><!-- <a href="https://www.flickr.com/photos/englishextra/">By englishextra</a>&#160;&#160;&#8226;&#160; <a href="https://www.flickr.com/photos/englishextra/albums/72157649716964239">Все иллюстрации</a> --></figcaption></figure>
			<h3 class="mui--text-subhead">ЕГЭ-2018. Иностранный язык</h3>
			<p><a href="javascript:void(0);" data-src="//www.youtube.com/embed/vQAKR1xql8Y?autoplay=0" data-padding-bottom="56.25%" class="mui-btn mui-btn--small mui-btn--raised ripple iframe-lightbox-link">Показать видео</a></p>
			<p class="mui--text-caption"><a href="https://www.youtube.com/watch?v=QwmvgQCF0NA">&#169;&#160;2017&#160;Рособрнадзор</a></p>
			<h3 class="mui--text-subhead">ЕГЭ 2015&#160;Рекомендации по&#160;иностранным языкам</h3>
			<p><a href="javascript:void(0);" data-src="//www.youtube.com/embed/eMmh70Y9c7o?autoplay=0" data-padding-bottom="56.25%" class="mui-btn mui-btn--small mui-btn--raised ripple iframe-lightbox-link">Показать видео</a></p>
			<p class="mui--text-caption"><a href="https://www.youtube.com/watch?v=jwagMsyC1Ik">&#169;&#160;2017&#160;Рособрнадзор</a></p>
			<h3 class="mui--text-subhead">О ЕГЭ предметно Иностранные языки</h3>
			<p><a href="javascript:void(0);" data-src="//www.youtube.com/embed/9re6cQYFmJ8?autoplay=0" data-padding-bottom="56.25%" class="mui-btn mui-btn--small mui-btn--raised ripple iframe-lightbox-link">Показать видео</a></p>
			<p class="mui--text-caption"><a href="https://www.youtube.com/watch?v=_Bo5MD2NlgQ">&#169;&#160;2017&#160;Рособрнадзор</a></p>
			<h3 class="mui--text-subhead">ЕГЭ 2016. Иностранные языки. Видеоконсультации по&#160;иностранным языкам</h3>
			<p><a href="javascript:void(0);" data-src="//www.youtube.com/embed/9i9a-M9Fzp8?autoplay=0" data-padding-bottom="56.25%" class="mui-btn mui-btn--small mui-btn--raised ripple iframe-lightbox-link">Показать видео</a></p>
			<p class="mui--text-caption"><a href="https://www.youtube.com/watch?v=pL-emjlLwx8">&#169;&#160;2017&#160;Рособрнадзор</a></p>
			<h3 class="mui--text-subhead">ЕГЭ 2016. Иностранные языки. Характеристика устных заданий</h3>
			<p><a href="javascript:void(0);" data-src="//www.youtube.com/embed/VO2ybQqbb7U?autoplay=0" data-padding-bottom="56.25%" class="mui-btn mui-btn--small mui-btn--raised ripple iframe-lightbox-link">Показать видео</a></p>
			<p class="mui--text-caption"><a href="https://www.youtube.com/watch?v=p-tQ8lLLv0U">&#169;&#160;2017&#160;Рособрнадзор</a></p>
			<h3 class="mui--text-subhead">Видеоинструкция по&#160;устной сдаче ЕГЭ по&#160;иностранным языкам</h3>
			<p><a href="javascript:void(0);" data-src="//www.youtube.com/embed/fnnJD6_gULg?autoplay=0" data-padding-bottom="56.25%" class="mui-btn mui-btn--small mui-btn--raised ripple iframe-lightbox-link">Показать видео</a></p>
			<p class="mui--text-caption"><a href="https://www.youtube.com/watch?v=i2D3WDZqRII">&#169;&#160;2017&#160;Рособрнадзор</a></p>
			<h3 class="mui--text-subhead">Проведение ЕГЭ по&#160;иностранным языкам в 2015&#160;г.&#160;Раздел &#171;Говорение&#187;</h3>
			<p><a href="javascript:void(0);" data-src="//www.youtube.com/embed/sKXCZgzmGLg?autoplay=0" data-padding-bottom="56.25%" class="mui-btn mui-btn--small mui-btn--raised ripple iframe-lightbox-link">Показать видео</a></p>
			<p class="mui--text-caption"><a href="https://www.youtube.com/watch?v=5zjpIZfD88s">&#169;&#160;2015&#160;Департамент образования города Москвы</a></p>
			<h3 class="mui--text-subhead">ЕГЭ по&#160;английскому языку. &#171;Правила игры&#187;. Письмо. Задание 33&#160;/ 39. 11&#160;класс</h3>
			<p><a href="javascript:void(0);" data-src="//www.youtube.com/embed/tY55x7h7cBs?autoplay=0" data-padding-bottom="56.25%" class="mui-btn mui-btn--small mui-btn--raised ripple iframe-lightbox-link">Показать видео</a></p>
			<p class="mui--text-caption"><a href="https://interneturok.ru/english/10-11-klassy/podgotovka-k-ege/ege-po-angliyskomu-yazyku-pravila-igry-pismo-zadanie-s1">&#169;&#160;2010&#8212;2018&#160;000 &#171;Интерда&#187;</a></p>
			<h3 class="mui--text-subhead">ЕГЭ по&#160;английскому языку. &#171;Правила игры&#187;. Письмо. Задание 40. 11&#160;класс</h3>
			<p><a href="javascript:void(0);" data-src="//www.youtube.com/embed/ZN9lVAEOjpw?autoplay=0" data-padding-bottom="56.25%" class="mui-btn mui-btn--small mui-btn--raised ripple iframe-lightbox-link">Показать видео</a></p>
			<p class="mui--text-caption"><a href="https://interneturok.ru/english/10-11-klassy/podgotovka-k-ege/ege-po-angliyskomu-yazyku-pravila-igry-pismo-zadanie-s2">&#169;&#160;2010&#8212;2018&#160;000 &#171;Интерда&#187;</a></p>
			<h3 class="mui--text-subhead">Подготовка к&#160;ЕГЭ. 1. Аудирование. Видеоурок. Английский язык. 11&#160;Класс</h3>
			<p><a href="javascript:void(0);" data-src="//www.youtube.com/embed/5_KIvn3lCrg?autoplay=0" data-padding-bottom="56.25%" class="mui-btn mui-btn--small mui-btn--raised ripple iframe-lightbox-link">Показать видео</a></p>
			<p class="mui--text-caption"><a href="https://interneturok.ru/english/10-11-klassy/podgotovka-k-ege/podgotovka-k-ege-1-audirovanie">&#169;&#160;2010&#8212;2018&#160;000 &#171;Интерда&#187;</a></p>
			<h3 class="mui--text-subhead">Подготовка к&#160;ЕГЭ. 2. Чтение. Видеоурок. Английский язык. 11&#160;Класс</h3>
			<p><a href="javascript:void(0);" data-src="//www.youtube.com/embed/XS3O3NDSS8E?autoplay=0" data-padding-bottom="56.25%" class="mui-btn mui-btn--small mui-btn--raised ripple iframe-lightbox-link">Показать видео</a></p>
			<p class="mui--text-caption"><a href="https://interneturok.ru/english/10-11-klassy/podgotovka-k-ege/podgotovka-k-ege-2-chtenie">&#169;&#160;2010&#8212;2018&#160;000 &#171;Интерда&#187;</a></p>
			<h3 class="mui--text-subhead">Подготовка к&#160;ЕГЭ. 3. Лексика. Видеоурок. Английский язык. 11&#160;Класс</h3>
			<p><a href="javascript:void(0);" data-src="//www.youtube.com/embed/X7NW7Nk_HSs?autoplay=0" data-padding-bottom="56.25%" class="mui-btn mui-btn--small mui-btn--raised ripple iframe-lightbox-link">Показать видео</a></p>
			<p class="mui--text-caption"><a href="https://interneturok.ru/english/10-11-klassy/podgotovka-k-ege/podgotovka-k-ege-3-leksika">&#169;&#160;2010&#8212;2018&#160;000 &#171;Интерда&#187;</a></p>
			<h3 class="mui--text-subhead">Подготовка к&#160;ЕГЭ. 4. Грамматика. Видеоурок. Английский язык. 11&#160;Класс</h3>
			<p><a href="javascript:void(0);" data-src="//www.youtube.com/embed/_sBK6Xm7Pb4?autoplay=0" data-padding-bottom="56.25%" class="mui-btn mui-btn--small mui-btn--raised ripple iframe-lightbox-link">Показать видео</a></p>
			<p class="mui--text-caption"><a href="https://interneturok.ru/english/10-11-klassy/podgotovka-k-ege/podgotovka-k-ege-4-grammatika">&#169;&#160;2010&#8212;2018&#160;000 &#171;Интерда&#187;</a></p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Демоверсия АЯ ОГЭ 2018&#160;г.</h2>
			<figure class="data-src-img-figure"><a href="./libs/serguei-muicss/img/serguei-pictures/serguei-oge-writing-in-the-classroom-1440x810.jpg" class="img-lightbox-link" target="_blank" rel="lightbox"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%201440%20810%27%2F%3E" data-src="./libs/serguei-muicss/img/serguei-pictures/serguei-oge-writing-in-the-classroom-1440x810.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a></figure>
			<p>Загрузить <a href="http://fipi.ru/oge-i-gve-9/demoversii-specifikacii-kodifikatory">с&#160;сайта ФИПИ</a> или <a href="https://yadi.sk/d/4SkI2pKO3TBtRf">с&#160;Яндекс.Диска</a>.</p>
			<p><a href="https://pedsovet.org/beta/article/proekt-dokumenta-opisyvausego-izmenenia-v-ege-2018-opublikovan">&#171;Никаких изменений не&#160;предполагается в&#160;материалах к&#160;ЕГЭ по&#160;биологии, географии, истории, математике и&#160;иностранным языкам.&#187;</a></p>
			<h3 class="mui--text-subhead">Демонстрационный вариант 2018&#160;г.&#160;Английский язык. 9&#160;класс. Устная часть. Task&#160;2</h3>
			<p><a href="javascript:void(0);" data-src="https://audiomack.com/embed/song/englishextra/en-9-demo-2018" data-padding-bottom="252px" class="mui-btn mui-btn--small mui-btn--raised ripple iframe-lightbox-link">Слушать аудио</a></p>
			<h4>Tapescript for Task 2</h4>
			<p><strong>Electronic assistant:</strong> Hello! It&#8217;s the electronic assistant of the Dolphin Sports Club. We&#160;kindly ask you to take part in our survey. We&#160;need to find out how people feel about doing sports in our region. Please answer six questions. The&#160;survey is anonymous&#160;&#8212; you don&#8217;t have to give your name. So, let&#8217;s get started.</p>
			<p><strong>Electronic assistant:</strong> How old are&#160;you?</p>
			<p><strong>Student:</strong> ___</p>
			<p><strong>Electronic assistant:</strong> How many times a week do you do sports?</p>
			<p>Student:___</p>
			<p><strong>Electronic assistant:</strong> What sport is the most popular with teenagers in your region?</p>
			<p><strong>Student:</strong> ___</p>
			<p><strong>Electronic assistant:</strong> What sports facilities are available in the place where you&#160;live?</p>
			<p><strong>Student:</strong> ___</p>
			<p><strong>Electronic assistant:</strong> Why do you think it is important to keep&#160;fit?</p>
			<p><strong>Student:</strong> ___</p>
			<p><strong>Electronic assistant:</strong> What would you advise a person who wants to keep&#160;fit?</p>
			<p><strong>Student:</strong> ___</p>
			<p><strong>Electronic assistant:</strong> This is the end of the survey. Thank you very much for your cooperation.</p>
			<h4>Критерии оценивания выполнения заданий устной части</h4>
			<div class="mui-table-wrapper">
				<table class="mui-table mui-table--bordered">
					<caption>Задание 2&#160; (участие в&#160;условном диалоге-расспросе)&#160;&#8212; максимум 6&#160;баллов. Оценивается отдельно каждый из&#160;шести ответов.</caption>
					<thead>
						<tr>
							<th>Ответ на&#160;вопросы 1&#8212;6</th>
							<th>1 балл</th>
							<th>0 баллов</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-label="Ответ на&#160;вопросы 1&#8212;6">&#160;</td>
							<td data-label="1 балл">Дан полный ответ на&#160;поставленный вопрос; допущенные отдельные фонетические, лексические и&#160;грамматические погрешности не&#160;затрудняют понимания</td>
							<td data-label="0 баллов">Ответ на&#160;вопрос не&#160;дан, ИЛИ ответ не&#160;соответствует заданному вопросу, ИЛИ ответ дан в&#160;виде слова или словосочетания, И/ИЛИ допущены фонетические и&#160;лексические и&#160;грамматические ошибки, препятствующие пониманию ответа</td>
						</tr>
					</tbody>
				</table>
			</div>
			<p class="mui--text-caption"><a href="http://ege.edu.ru/" target="_blank" rel="noopener">&#169;&#160;2018 Федеральная служба по&#160;надзору в&#160;сфере образования и&#160;науки Российской Федерации</a></p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Демоверсия АЯ ЕГЭ 2018&#160;г.</h2>
			<figure class="data-src-img-figure"><a href="./libs/serguei-muicss/img/serguei-pictures/serguei-ege-reading-together-1440x810.jpg" class="img-lightbox-link" target="_blank" rel="lightbox"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%201440%20810%27%2F%3E" data-src="./libs/serguei-muicss/img/serguei-pictures/serguei-ege-reading-together-1440x810.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a></figure>
			<p>Загрузить <a href="http://fipi.ru/ege-i-gve-11/demoversii-specifikacii-kodifikatory">с&#160;сайта ФИПИ</a> или <a href="https://yadi.sk/d/OtMcGPss3TBtHH">с&#160;Яндекс.Диска</a>.</p>
			<p><a href="https://pedsovet.org/beta/article/proekt-dokumenta-opisyvausego-izmenenia-v-ege-2018-opublikovan">&#171;Никаких изменений не&#160;предполагается в&#160;материалах к&#160;ЕГЭ по&#160;биологии, географии, истории, математике и&#160;иностранным языкам.&#187;</a></p>
			<h3 class="mui--text-subhead">Демонстрационный вариант ЕГЭ 2018&#160;г.&#160;Английский язык, 11&#160;класс. Раздел 1. Аудирование. Задания 1-9</h3>
			<p><a href="javascript:void(0);" data-src="https://audiomack.com/embed/song/englishextra/en-11-demo-2018" data-padding-bottom="252px" class="mui-btn mui-btn--small mui-btn--raised ripple iframe-lightbox-link">Слушать аудио</a></p>
			<div class="mui-table-wrapper">
				<table class="mui-table mui-table--bordered">
					<caption></caption>
					<tbody>
						<tr>
							<td>
								<p>Вы услышите 6&#160;высказываний. Установите соответствие между высказываниями каждого говорящего A&#8212;F и&#160;утверждениями, данными в&#160;списке 1&#8212;7. Используйте каждое утверждение, обозначенное соответствующей цифрой, только один раз. В&#160;задании есть одно лишнее утверждение. Вы&#160;услышите запись дважды. Занесите свои ответы в&#160;таблицу.</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<h4>1</h4>
			<ol>
				<li>Exotic location makes Christmas memorable.</li>
				<li>Christmas day is nothing special.</li>
				<li>Adults could still enjoy some magic getting presents.</li>
				<li>Gifts from young children bring joy.</li>
				<li>The bigger family, the bigger fun.</li>
				<li>Christmas away from family can be enjoyable.</li>
				<li>Christmas is mainly about gift giving.</li>
			</ol>
			<div class="mui-table-wrapper">
				<table class="mui-table mui-table--bordered">
					<caption></caption>
					<tbody>
						<tr>
							<td>Говорящий</td>
							<td>A</td>
							<td>B</td>
							<td>C</td>
							<td>D</td>
							<td>E</td>
							<td>F</td>
						</tr>
						<tr>
							<td>Утверждение</td>
							<td>&#160;</td>
							<td>&#160;</td>
							<td>&#160;</td>
							<td>&#160;</td>
							<td>&#160;</td>
							<td>&#160;</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="mui-table-wrapper">
				<table class="mui-table mui-table--bordered">
					<caption></caption>
					<tbody>
						<tr>
							<td>Вы услышите диалог. Определите, какие из&#160;приведённых утверждений А&#8212;G соответствуют содержанию текста (1&#160;&#8212; True), какие не&#160;соответствуют (2&#160;&#8212; False) и о&#160;чём в&#160;тексте не&#160;сказано, то есть на&#160;основании текста нельзя дать ни&#160;положительного, ни&#160;отрицательного ответа (3&#160;&#8212; Not stated). Занесите номер выбранного Вами варианта ответа в&#160;таблицу. Вы&#160;услышите запись дважды.</td>
						</tr>
					</tbody>
				</table>
			</div>
			<h4>2</h4>
			<ol type="A">
				<li>Emily&#8217;s history class requires a lot of effort.</li>
				<li>Grandparents of Sam&#8217;s friend are his grandparents&#8217; neighbours.</li>
				<li>Sam didn&#8217;t see his parents for two months.</li>
				<li>Emily wouldn&#8217;t want to spend her summer like Sam.</li>
				<li>In June Emily was away from home.</li>
				<li>Emily&#8217;s family plan to visit Greece again.</li>
				<li>Emily won&#8217;t be able to show Sam her photos.</li>
			</ol>
			<div class="mui-table-wrapper">
				<table class="mui-table mui-table--bordered">
					<caption></caption>
					<tbody>
						<tr>
							<td>Говорящий</td>
							<td>A</td>
							<td>B</td>
							<td>C</td>
							<td>D</td>
							<td>E</td>
							<td>F</td>
							<td>G</td>
						</tr>
						<tr>
							<td>Соответствие диалогу</td>
							<td>&#160;</td>
							<td>&#160;</td>
							<td>&#160;</td>
							<td>&#160;</td>
							<td>&#160;</td>
							<td>&#160;</td>
							<td>&#160;</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="mui-table-wrapper">
				<table class="mui-table mui-table--bordered">
					<caption></caption>
					<tbody>
						<tr>
							<td>Вы услышите интервью. В&#160;заданиях 3&#8212;9 запишите в&#160;поле ответа цифру 1, 2&#160;или 3, соответствующую выбранному Вами варианту ответа. Вы&#160;услышите запись дважды.</td>
						</tr>
					</tbody>
				</table>
			</div>
			<h4>3</h4>
			<p>Kim&#8217;s success as an actress makes her feel&#8230;</p>
			<ol>
				<li>extremely happy.</li>
				<li>slightly uncomfortable.</li>
				<li>very disappointed.</li>
			</ol>
			<p>Ответ:</p>
			<h4>4</h4>
			<p>Kim thinks that acting is&#8230;</p>
			<ol>
				<li>just a job.</li>
				<li>a way of life.</li>
				<li>her life priority.</li>
			</ol>
			<p>Ответ:</p>
			<h4>5</h4>
			<p>One thing Kim and her heroine have in common is their&#8230;</p>
			<ol>
				<li>life-partner&#8217;s occupation.</li>
				<li>working time-tables.</li>
				<li>love for kids.</li>
			</ol>
			<p>Ответ:</p>
			<h4>6</h4>
			<p>Kim thinks that the most difficult thing for her and her husband is to&#8230;</p>
			<ol>
				<li>raise their children.</li>
				<li>remain in the spotlight.</li>
				<li>find more time to be together.</li>
			</ol>
			<p>Ответ:</p>
			<h4>7</h4>
			<p>According to Kim, her heroine and she are different in their&#8230;</p>
			<ol>
				<li>public life.</li>
				<li>personalities.</li>
				<li>backgrounds.</li>
			</ol>
			<p>Ответ:</p>
			<h4>8</h4>
			<p>Hosting a TV show for Kim is&#8230;</p>
			<ol>
				<li>a way to learn a new skill.</li>
				<li>a long-time ambition.</li>
				<li>a means to relax from her sitcom work.</li>
			</ol>
			<p>Ответ:</p>
			<h4>9</h4>
			<p>Kim hopes to introduce people who&#8230;</p>
			<ol>
				<li>write about poverty.</li>
				<li>work with volunteers.</li>
				<li>deal with world problems.</li>
			</ol>
			<p>Ответ:</p>
			<div class="mui-table-wrapper">
				<table class="mui-table mui-table--bordered">
					<caption></caption>
					<tbody>
						<tr>
							<td>По окончании выполнения заданий 1&#8212;9 не&#160;забудьте перенести свои ответы в&#160;БЛАНК ОТВЕТОВ &#8470; 1! Запишите ответ справа от&#160;номера соответствующего задания, начиная с&#160;первой клеточки. При&#160;переносе ответов в&#160;заданиях 1&#160;и 2&#160;цифры записываются без пробелов, запятых и&#160;других дополнительных символов. Каждую цифру пишите в&#160;отдельной клеточке в&#160;соответствии с&#160;приведёнными в&#160;бланке образцами.</td>
						</tr>
					</tbody>
				</table>
			</div>
			<h4>Ответы</h4>
			<div class="mui-table-wrapper">
				<table class="mui-table mui-table--bordered">
					<caption></caption>
					<thead>
						<tr>
							<th>&#8470; задания</th>
							<th>Ответ</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-label="&#8470; задания">1</td>
							<td data-label="Ответ">235461</td>
						</tr>
						<tr>
							<td data-label="&#8470; задания">2</td>
							<td data-label="Ответ">1132232</td>
						</tr>
						<tr>
							<td data-label="&#8470; задания">3</td>
							<td data-label="Ответ">2</td>
						</tr>
						<tr>
							<td data-label="&#8470; задания">4</td>
							<td data-label="Ответ">1</td>
						</tr>
						<tr>
							<td data-label="&#8470; задания">5</td>
							<td data-label="Ответ">1</td>
						</tr>
						<tr>
							<td data-label="&#8470; задания">6</td>
							<td data-label="Ответ">3</td>
						</tr>
						<tr>
							<td data-label="&#8470; задания">7</td>
							<td data-label="Ответ">2</td>
						</tr>
						<tr>
							<td data-label="&#8470; задания">8</td>
							<td data-label="Ответ">2</td>
						</tr>
						<tr>
							<td data-label="&#8470; задания">9</td>
							<td data-label="Ответ">3</td>
						</tr>
					</tbody>
				</table>
			</div>
			<p class="mui--text-caption"><a href="http://ege.edu.ru/" target="_blank" rel="noopener">&#169;&#160;2018 Федеральная служба по&#160;надзору в&#160;сфере образования и&#160;науки Российской Федерации</a></p>
		</div>
		<div class="card-wrap card-wrap--skeleton">
			<blockquote class="twitter-tweet" data-lang="en"><p lang="ru" dir="ltr"><a href="https://twitter.com/osokoru/status/1005894698077179904?ref_src=twsrc%5Etfw"></a></blockquote>
		</div>
		<div class="card-wrap card-wrap--skeleton">
			<blockquote class="twitter-tweet" data-lang="en"><p lang="ru" dir="ltr"><a href="https://twitter.com/obrnadzor/status/1005365721856167936?ref_src=twsrc%5Etfw"></a></blockquote>
		</div>
		<div class="card-wrap card-wrap--skeleton">
			<div class="vk-post" id="vk_post_-62872178_402" data-vk-ownerid="-62872178" data-vk-postid="402" data-vk-hash="z5DxXmxeY34F_TwZAtZSpxbk39BI"></div>
		</div>
		<div class="card-wrap card-wrap--copyright">
			<h3 class="mui--text-subhead">Правовые положения</h3>
			<p class="mui--text-caption">Все рекламные предложения не&#160;являются публичной офертой или приглашением к&#160;вступлению в&#160;правоотношения.</p>
			<h3 class="mui--text-subhead">Принадлежность</h3>
			<p class="mui--text-caption">Автор и&#160;владелец данного интернет-ресурса не&#160;имеет отношения к&#160;представленным товарам или услугам, бизнесам, на ресурсы которых размещены ссылки; не&#160;получает комиссии или гонорары за&#160;рекомендации, никак не&#160;связан с&#160;продавцами упомянутых наименований.</p>
			<h3 class="mui--text-subhead">Иллюстрации</h3>
			<p class="mui--text-caption"><a href="http://ege.edu.ru/" target="_blank" rel="noopener">&#169;&#160;2018 Федеральная служба по&#160;надзору в&#160;сфере образования и&#160;науки Российской Федерации</a></p>
			<h3 class="mui--text-subhead">Графика</h3>
			<p class="mui--text-caption"><a href="https://material.io/tools/icons/" target="_blank" rel="noopener">&#169;&#160;2018 Material icons by&#160;Google</a></p>
			<h3 class="mui--text-subhead">Иcходный год</h3>
			<p class="mui--text-caption"><a href="https://gitlab.com/englishextra/englishextra.gitlab.io" target="_blank" rel="noopener">gitlab.com/englishextra/englishextra.gitlab.io</a></p>
			<h3 class="mui--text-subhead">Использование</h3>
								<p class="copyright">
									<a href="javascript:void(0);" onclick="var a='mailto',b=':',c='englishextra2',k='%40',q='yahoo',s='.',v='com';this.href=a+b+c+k+q+s+v;" target="_blank">&#169;&#160;2006&#8212;2018&#160;englishextra</a>
									&#160;&#160; <a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank">Копирование</a>
									&#160;&#160; <a href="/terms.html">Соглашение</a>
									&#160;&#160; <a href="/policy.html">Конфиденциальность</a>
								</p>
			<table style="border:none;">
				<caption></caption>
				<tbody>
					<tr>
						<td class="mui--text-caption" style="border:none;">
							<a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank" aria-label="Лицензия">
								<svg class="site-logo-icon" style="width:5.500rem;height:1.938rem;">
									<use xlink:href="#custom-by-nd-88x31"></use>
								</svg>
							</a>
						</td>
						<td class="mui--text-caption" style="border:none;">&#160;</td>
						<td class="mui--text-caption" style="border:none;">
							Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank">лицензии Creative Commons С&#160;указанием авторства-Без&#160;производных&#160;4.0 Всемирная</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<template><footer id="footer">
	<div class="mui-container-fluid">
		<div class="mui-row">
			<div class="mui-col-md-10 mui-col-md-offset-1 mui-col-sm-12 mui-col-sm-offset-0">
				<div class="mui-col-xs-12 mui-col-md-12 mui-col-lg-12 mui-col-xl-12">
								<p class="copyright">
									<a href="javascript:void(0);" onclick="var a='mailto',b=':',c='englishextra2',k='%40',q='yahoo',s='.',v='com';this.href=a+b+c+k+q+s+v;" target="_blank">&#169;&#160;2006&#8212;2018&#160;englishextra</a>
									&#160;&#160; <a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank">Копирование</a>
									&#160;&#160; <a href="/terms.html">Соглашение</a>
									&#160;&#160; <a href="/policy.html">Конфиденциальность</a>
								</p>
				</div>
			</div>
		</div>
	</div>
</footer></template>
