/*! @import "main"; */

/*!
 * main
 */

html,
body {
	height: 100%;
}

html {
	font-size: 15px;
	line-height: 20px;
	/**
	 * set the parent to background transparent
	 * and position relative to parent, absolute for child
	 */
	background-color: transparent;
}

body {
	font-family: "Roboto", $font-family-local-sans-regular;
	font-weight: 400;
	font-size: 1.000rem;
	line-height: 1.333rem;
	width: 100%;
	color: $color-hex-body-text;
	background-color: $ButtonBackgroundDark;
	text-size-adjust: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga", "kern";
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	outline: none;
	overflow-y: auto;
	user-select: none;
	margin: 0;
	padding: 0;
}

/*!
 * englishextra specific rules
 */

a {
	color: inherit;
	text-decoration: none;
}

a:focus,
a:active,
button:focus,
button:active,
select:focus,
select:active {
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: bottom;
}

p:first-child {
	margin-top: 0;
}

p:last-child {
	margin-bottom: 0;
}

b,
strong,
.bolder {
	font-weight: bold;
}

i,
em,
.italic {
	font-style: italic;
}

u,
.underline {
	text-decoration: underline;
}

*,
*:after,
*::before {
	box-sizing: border-box;
}

::selection {
	color: $color-rgba-selection-text;
	background-color: $color-rgba-selection-bg;
}

::placeholder {
	color: $PlaceholderText !important;
	opacity: 1;
}

/*!
 * clearfix css-tricks.com/snippets/css/clear-fix/
 */

.cf:after {
	content: "";
	display: table;
	clear: both;
}

/*!
 * fit width
 */

.fit-width {
	min-width: 100%;
}

/*!
 * fit half width
 */

.fit-half-width {
	min-width: 50%;
}

/*!
 * hide and show on mobile
 */

.page .show-inline-on-mobile,
.page .show-block-on-mobile {
	display: none;
}

@media handheld, only screen and (max-width: 800px) {
	.page .hide-on-mobile {
		display: none;
		width: 0;
		height: 0;
	}

	.page .show-inline-on-mobile {
		display: inline;
	}

	.page .show-block-on-mobile {
		display: block;
	}
}

.wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	line-height: 0;
	overflow: hidden;
	/* background-color: $ButtonBackgroundDark; */
}

.scene,
.layer {
	display: block;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

.scene {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	position: absolute;
	overflow: hidden;
	line-height: 0;
}

.layer {
	position: absolute;
}

.layer img,
.layer canvas {
	display: block;
}

/* .loading {
	font-size: 1.000rem;
	line-height: 1.000rem;
	font-family: sans-serif;
	font-weight: 400;
	color: #F44336;
	position: absolute;
	top: 4.133rem;
	left: 25%;
	margin: 0;
} */

.hero {
	width: 50%;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	overflow: hidden;
	background-color: transparent;
	background-image: url(../img/hero-960x1080.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.monolith {
	width: 50%;
	min-height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 1;
	overflow: hidden;
	background-color: $color-hex-englishextra-logo-bg;
	background-image: url(../img/monolith-960x1080.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.monolith:before {
	content: "";
	width: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: $color-hex-englishextra-logo-bg;
	opacity: 0.8;
}

.matreshka {
	width: 12.800rem;
	height: 24.000rem;
	margin: 0;
	position: absolute;
	bottom: -5%;
	left: 5%;
}

.matreshka a {
	color: inherit;
	text-decoration: none;
}

.matreshka img,
.matreshka canvas {
	display: block;
	width: 12.800rem;
	height: 24.000rem;
}

.pen {
	width: 3.400rem;
	height: 40.000rem;
	margin: 0;
	position: absolute;
	top: -40%;
	right: 5%;
}

.pen a {
	color: inherit;
	text-decoration: none;
}

.pen img,
.pen canvas {
	display: block;
	width: 3.400rem;
	height: 40.000rem;
}

.notebook {
	width: 21.333rem;
	height: 30.800rem;
	margin: 0;
	position: absolute;
	bottom: -30%;
	right: -5%;
}

.notebook a {
	color: inherit;
	text-decoration: none;
}

.notebook img,
.notebook canvas {
	display: block;
	width: 21.333rem;
	height: 30.800rem;
}

.john-locke {
	width: 33.333rem;
	height: 43.000rem;
	position: absolute;
	top: calc(50% - 21.500rem);
	left: calc(65% - 16.667rem);
	margin: 0;
}

.john-locke a {
	color: inherit;
	text-decoration: none;
}

.john-locke img,
.john-locke canvas {
	display: block;
	width: 33.333rem;
	height: 43.000rem;
}

.signature {
	width: 21.333rem;
	height: 8.667rem;
	position: absolute;
	top: calc(70% - 4.333rem);
	left: calc(75% - 10.667rem);
	margin: 0;
}

.signature a {
	color: inherit;
	text-decoration: none;
}

.signature img,
.signature svg {
	display: block;
	width: 21.333rem;
	height: 8.667rem;
}

.quote {
	min-width: 28.200rem;
	min-height: 5.400rem;
	text-align: left;
	position: absolute;
	top: calc(25% - 2.700rem);
	left: calc(35% - 14.100rem);
	overflow: hidden;
	background-color: #3BF0DF;
	box-shadow: 0.133rem 0.133rem 0.133rem 0 $color-rgba-ui-bar-shadow;
	margin: 0;
}

.quote p {
	display: block;
	font-family: "PT Serif", $font-family-webfont-serif-regular;
	font-weight: 400;
	font-size: 1.200rem;
	line-height: 1.500rem;
	color: $TitleBarAndAppBarDark;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-top: 1.200rem;
	margin-right: 1.600rem;
	margin-left: 1.600rem;
}

.quote a {
	color: inherit;
	text-decoration: none;
}

.intro {
	width: 50%;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	background-size: cover;
}

.intro h1 {
	display: block;
	font-family: "Roboto Condensed", $font-family-webfont-sans-regular;
	font-weight: 700;
	font-size: 3.333rem;
	line-height: 4.000rem;
	text-transform: uppercase;
	color: $TitleBarAndAppBarDark;
	background-color: rgba(230, 230, 230, 0.8);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
	padding-top: 1.600rem;
	padding-right: 2.400rem;
	padding-bottom: 1.600rem;
	padding-left: 2.400rem;
}

.intro h1 span {
	display: block;
	font-weight: 400;
	font-size: 2.667rem;
	line-height: 3.333rem;
	text-transform: none;
	border-bottom: 0.267rem solid $color-hex-englishextra-logo-bg;
	padding-bottom: 0.667rem;
}

.intro a {
	color: inherit;
	text-decoration: none;
}

.qrcode {
	display: none;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.2s ease;
	width: 8.533rem;
	height: 8.533rem;
	position: absolute;
	top: 5.733rem;
	right: 1.333rem;
}

.qrcode img {
	display: block;
	width: 8.533rem;
	height: 8.533rem;
}

.download-app {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.2s ease;
	width: 8.533rem;
	height: 3.067rem;
	position: absolute;
	top: 1.333rem;
	right: 1.333rem;
}

.download-app img {
	display: block;
	width: 8.533rem;
	height: 3.067rem;
}

.download-app a {
	color: inherit;
	text-decoration: none;
}

.logo {
	width: 4.000rem;
	height: 4.000rem;
	position: absolute;
	top: 1.333rem;
	left: 1.333rem;
}

.logo img,
.logo svg {
	display: block;
	width: 4.000rem;
	height: 4.000rem;
}

.logo a {
	font-size: 0;
}

.arrow {
	width: 4.000rem;
	height: 2.400rem;
	position: absolute;
	top: 5.333rem;
	left: 3.200rem;
}

.arrow img,
.arrow svg {
	display: block;
	width: 4.000rem;
	height: 2.400rem;
}

.phone {
	width: 2.133em;
	height: 4.267em;
	margin: 0;
	position: absolute;
	top: 2.667rem;
	left: 6.933rem;
}

.phone img,
.phone svg {
	display: block;
	width: 2.133em;
	height: 4.267em;
}

.phone a {
	color: inherit;
	text-decoration: none;
}

.start {
	display: none;
	width: 16.000rem;
	height: 16.000rem;
	font-size: 0;
	margin: 0;
	position: absolute;
	top: 50%;
	left: calc(50% - 8.000rem);
}

.start img {
	display: block;
	width: 16.000rem;
	height: 16.000rem;
}

.start a {
	color: inherit;
	text-decoration: none;
}

.hand {
	display: none;
	width: 8.000rem;
	height: 3.800rem;
	font-size: 0;
	margin: 0;
	position: absolute;
	top: calc(50% + 7.050rem);
	left: calc(50% - 8.000rem);
}

.hand img,
.hand canvas {
	display: block;
	width: 8.000rem;
	height: 3.800rem;
}

.hand a {
	color: inherit;
	text-decoration: none;
}

.guesture {
	display: none;
	width: 6.400rem;
	height: 6.400rem;
	font-size: 0;
	margin: 0;
	position: absolute;
	top: calc(50% + 6.400rem);
	left: calc(50% - 3.200rem);
}

.guesture img,
.guesture svg {
	display: block;
	width: 6.400rem;
	height: 6.400rem;
}

.btn-share {
	width: 3.200rem;
	height: 3.200rem;
	position: fixed;
	bottom: 0;
	right: 3.200rem;
	background-color: $TitleBarAndAppBarLight;
}

.btn-share a > * {
	fill: $ButtonOutline;
}

.btn-share svg {
	display: block;
	width: 3.200rem;
	height: 3.200rem;
}

.btn-share a {
	font-size: 0;
}

.btn-like {
	width: 3.200rem;
	height: 3.200rem;
	position: fixed;
	bottom: 0;
	right: 6.400rem;
	background-color: $TitleBarAndAppBarLight;
}

.btn-like a > * {
	fill: $ButtonOutline;
}

.btn-like svg {
	display: block;
	width: 3.200rem;
	height: 3.200rem;
}

.btn-like a {
	font-size: 0;
}

.btn-tutor {
	width: 3.200rem;
	height: 3.200rem;
	position: absolute;
	bottom: 4.5333rem;
	left: 5.867rem;
}

.btn-tutor img {
	display: block;
	width: 3.200rem;
	height: 3.200rem;
}

.btn-tutor a {
	font-size: 0;
}

.btn-vk {
	width: 3.200rem;
	height: 3.200rem;
	position: absolute;
	bottom: 4.5333rem;
	left: 1.333rem;
}

.btn-vk img {
	display: block;
	width: 3.200rem;
	height: 3.200rem;
}

.btn-vk a {
	font-size: 0;
}

.footer {
	width: 100%;
	min-height: 3.200rem;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	overflow: hidden;
	background-color: transparent;
	background-image: url(../img/dots-8x8.png);
	background-position: top left;
	background-repeat: repeat;
	background-size: 0.533rem 0.533rem;
}

.footer p {
	display: inline-block;
	height: 3.200rem;
	font-weight: 700;
	font-size: 0.867rem;
	line-height: 3.200rem;
	text-align: center;
	text-transform: uppercase;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: $LeftNavBarLight;
	background-color: $TitleBarAndAppBarDark;
	padding-right: 1.333rem;
	padding-left: 1.333rem;
	margin: 0;
}

.footer a {
	color: inherit;
	text-decoration: none;
}

/* .ripple {
	width: 16.000rem;
	height: 16.000rem;
	position: absolute;
	top: -3.333rem;
	left: 25%;
	margin: 0;
}
.ripple img {
	display: block;
	width: 16.000rem;
	height: 16.000rem;
} */

/*!
 * ya-share2
 * yandex.ru/blog/share/kak-uvelichit-shrift-tsifr-sch-tchika#comment-add
 */

/* .ya-share2 {
	box-shadow: 0.133rem 0.133rem 0.133rem 0 $color-rgba-ui-bar-shadow;
} */

.ya-share2 .ya-share2__container_size_m .ya-share2__icon {
	height: 3.200rem;
	width: 3.200rem;
}

.ya-share2 .ya-share2__container_size_m .ya-share2__counter {
	font-size: 1.333rem;
	line-height: 3.200rem;
}

.ya-share2 .ya-share2__container_size_m .ya-share2__title {
	width: 0;
	height: 0;
	overflow: hidden;
}

.ya-share2 .ya-share2__container_size_m .ya-share2__item {
	margin: 0;
}

.ya-share2 .ya-share2__container_size_m .ya-share2__badge {
	border-radius: 0;
}

.ya-share2 {
	display: inline-block;
	visibility: hidden;
	opacity: 0;
	position: fixed;
	bottom: 0;
	right: 3.200rem;
	box-shadow: 0.133rem 0.133rem 0.133rem 0 $color-rgba-ui-bar-shadow;
	transition: visibility 0s, opacity 0.2s ease;
}

.ya-share2.is-active {
	visibility: visible;
	opacity: 1;
}

.holder-vk-like {
	display: block;
	visibility: hidden;
	opacity: 0;
	overflow: hidden;
	height: 3.200rem;
	position: fixed;
	right: 6.400rem;
	bottom: 0;
	line-height: 0;
	transition: visibility 0s, opacity 0.2s ease;
	background-color: $color-hex-vk-like-bg;
	box-shadow: 0.133rem 0.133rem 0.133rem 0 $color-rgba-ui-bar-shadow;
	z-index: 1;
}

.holder-vk-like.is-active {
	visibility: visible;
	opacity: 1;
}

.vk-like {
	display: inline-block;
	height: 24px;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	margin: 0 0 0 0.667rem;
	line-height: 0;
}

/*!
 * @see {@link https://gist.github.com/englishextra/40b7c4ffde33bfb58aff259afe229d6a}
 */

/*------------------------------------------
 Foundation Media Queries
  http://foundation.zurb.com/docs/media-queries.html
--------------------------------------------*/

/* Small screens - MOBILE */

@media only screen {
	html {
		font-size: 12px;
	}

	.quote {
		top: calc(20% - 2.700rem);
		left: calc(50% - 14.100rem);
	}

	.intro {
		width: 100%;
	}

	.intro h1 {
		top: 60%;
		font-size: 2.400rem;
		line-height: 3.200rem;
	}

	.intro h1 span {
		font-size: 1.867rem;
		line-height: 2.400rem;
	}
}

/* Define mobile styles - Mobile First */

@media only screen and (max-width: 40em) {
	html {
		font-size: 13px;
	}
}

/* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens - TABLET */

@media only screen and (min-width: 40.063em) {
	html {
		font-size: 13px;
	}

	.quote {
		top: calc(25% - 2.700rem);
		left: calc(30% - 14.100rem);
	}
}

/* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	html {
		font-size: 15px;
	}
}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens - DESKTOP */

@media only screen and (min-width: 64.063em) {
	html {
		font-size: 15px;
	}

	.quote {
		top: calc(25% - 2.700rem);
		left: calc(35% - 14.100rem);
	}

	.intro {
		width: 50%;
	}

	.intro h1 {
		top: 50%;
		font-size: 3.333rem;
		line-height: 4.000rem;
	}

	.intro h1 span {
		font-size: 2.667rem;
		line-height: 3.333rem;
	}

	.qrcode {
		display: block;
	}
}

/* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
	html {
		font-size: 15px;
	}
}

/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */

@media only screen and (min-width: 90.063em) {
	html {
		font-size: 18px;
	}
}

/* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
	html {
		font-size: 18px;
	}
}

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */

@media only screen and (min-width: 120.063em) {
	html {
		font-size: 19px;
	}
}

/* min-width 1921px, xlarge screens */
